html{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBoard{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.catPic{
    height: 200px;
}
.catPic:hover{
    cursor: pointer;
}
#cardContainer{
    background-color: darkblue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#gameOverCat{
    height: 600px;
}
#endGameText{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#endGameButton{
    font-size: 20px;
    border-radius: 25px;
    height: 35px;
}
button:hover{
    cursor: pointer;
}